<p id="notice"><%= notice %></p>

<div style="text-align; center:">
  <h1> Searching for the best fit </h1>

<img src="http://media.giphy.com/media/Hp4lpOT1Ns60o/giphy.gif" >
</div>

<%= link_to 'Edit', edit_refugee_path(@refugee) %> |
<%= link_to 'Back', refugees_path %>
